<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
       integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
       rel="stylesheet"
       crossorigin="anonymous">
 <title>Notes</title>
 <style>
  #notes {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #notes td, #notes th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #notes tr:nth-child(odd){background-color: #f2f2f2;}
  
  #notes tr:hover {background-color: #ddd;}
  
  #notes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#616161;
    color: white;
  }
  </style>
</head>

<body>
  <header style="
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10">
    <div class="container">
      <div class="header-left" style="float: left";>
        <h1 style="width: 124px; margin-top: 10px; color: whitesmoke;">NOTES</h1>
      </div>
      <div class="header-right" style="float: right; margin-right: -25px;">
        <div style="
        line-height: 65px;
        float: left">
          <a href="add-note" style="padding: 0 5px; color: white">Add Note</a>
          <a href="\lab-4" style="padding: 0 5px; color: white">Notes List</a>
          <a href="note-list" style="padding: 0 5px; color: white">Notes Card</a>
        </div>
      </div>
    </div>
  </header>
  
  <div class="table-wrapper" style="
  padding: 80px 0 100px 0;
  color: black;">
    <div class="container">
      <div class="table-heading">
        <h1 style="text-align: center; font-family: Helvetica;">Notes List</h1>
      </div>
  
      <div class="note-table" style="
      display: flex; 
      flex-direction: row; 
      flex-wrap: wrap; 
      justify-content: center;
      width: 100%;
      padding: 10px;">       
        <table id="notes">
          <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
          </tr>
          {% for note in notes %}
          <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.From }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>  
     </div>
    </div>
  </div>
</body>
</html>