<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
       integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
       rel="stylesheet"
       crossorigin="anonymous">
 <title>Notes</title>
</head>

<body>
  <header style="
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10">
    <div class="container">
      <div class="header-left" style="float: left";>
        <h1 style="width: 124px; margin-top: 10px; color: whitesmoke;">NOTES</h1>
      </div>
      <div class="header-right" style="float: right; margin-right: -25px;">
        <div style="
        line-height: 65px;
        float: left">
          <a href="add-note" style="padding: 0 5px; color: white">Add Note</a>
          <a href="\lab-4" style="padding: 0 5px; color: white">Notes List</a>
          <a href="note-list" style="padding: 0 5px; color: white">Notes Card</a>
        </div>
      </div>
    </div>
  </header>
  
  <div class="card-wrapper" style="
  padding: 80px 0 100px 0;
  color: black;">
    <div class="container">
      <div class="heading">
        <h1 style="text-align: center; font-family: Helvetica;">Notes Card</h1>
      </div>
  
      <div class="cards" style="
      display: flex; 
      flex-direction: row; 
      flex-wrap: wrap; 
      justify-content: center;
      width: 100%;">       
        {% for note in notes %}
        <div class="card" style="
        width: 15rem; 
        margin: 10px;
        padding: 5px 5px;
        background:#f2f2f2">
          <h5 class="card-title" style="text-align: center; font-family: Helvetica; border-bottom-style: groove;">{{ note.title }}</h5>
          <h6 class="card-from-to" style="font-family: Helvetica; font-size: 15px;">To: {{ note.to }}</h6>
          <h6 class="card-from-to" style="font-family: Helvetica; font-size: 15px">From: {{ note.From }}</h6>
          <p class="card-message" style="font-family: Garamond;">{{ note.message }}</p>     
        </div>
        {% endfor %}
      </div>  
     </div>
    </div>
  </div>
</body>
</html>