<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
       rel="stylesheet"
       crossorigin="anonymous">
 <title>Notes</title>
</head>

<body>
  <header style="
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10">
    <div class="container">
      <div class="header-left" style="float: left";>
        <h1 style="width: 124px; margin-top: 10px; color: whitesmoke;">NOTES</h1>
      </div>
      <div class="header-right" style="float: right; margin-right: -25px;">
        <div style="
        line-height: 65px;
        float: left">
          <a href="add-note" style="padding: 0 5px; color: white">Add Note</a>
          <a href="\lab-4" style="padding: 0 5px; color: white">Notes List</a>
          <a href="note-list" style="padding: 0 5px; color: white">Notes Card</a>
        </div>
      </div>
    </div>
  </header>
  
  <div class="form-wrapper" style="
  padding: 80px 0 100px 0;
  color: black;">
    <div class="container">
      <div class="heading">
        <h1 style="text-align: center; font-family: Helvetica;">Add Note</h1>
      </div>  
      
      <div class="form" style="
      display: flex; 
      flex-direction: row; 
      flex-wrap: wrap; 
      width: 100%;
      justify-content: center;
      margin: 10px;
      padding: 28px 5px;
      background: #f2f2f2;">       
        <form action="" method="POST">
          {% csrf_token %}
          <table>
            {{ form }}
          </table>
          <div style="text-align: right; margin-top: 10px;">
            <input type="submit" value="Add">
          </div>
        </form>
      </div>  
     </div>
    </div>
  </div>
</body>
</html>