<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% for person in friends %}
      <tr>
        <th>{{ person.name }}</th>
        <th>{{ person.npm }}</th>
        <th>{{ person.dob }}</th>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
