<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for note in notes %}
      <tr>
        <th>{{ note.to }}</th>
        <th>{{ note.From }}</th>
        <th>{{ note.title }}</th>
        <th>{{ note.message }}</th>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>